body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: Helvetica, Arial, Geneva, sans-serif;
}

.main-headline { text-align: center; }

.page {
    background: #ffffff;
    width: 560px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    box-shadow:0 0 5px #ccc;
    -moz-box-shadow:0 0 5px #ccc;
    -webkit-box-shadow:0 0 5px #ccc;

}

.message {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.message:last-child {
    border-bottom: none;
}

.message p {
    overflow: hidden;
    white-space: pre-wrap; 
}

#status {
    text-align: right;
}

#data {
    height: 200px;
    overflow-y: auto;
    padding: 20px;
    margin: 20px;
}

.green { color: #4ca35b; }

.red { color: #b65b55; }

input {
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .15) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15) inset;
    color: #424242;
    outline: none;
    padding: 6px;
    margin: -6px
}
